In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from textblob import TextBlob
from sklearn.preprocessing import LabelEncoder
from textblob import TextBlob

from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
original = pd.read_csv('cloths-rating.csv')

original.shape

(634, 4)

In [3]:
original = original.drop_duplicates(subset=['ProductID','UserID'],keep='last')

original.shape

(385, 4)

In [4]:
original.head()

,ProductID,UserID,Rating,Text
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl..."
6,1080,AVph0EeEilAPnD_x9myq,2,I used this product only once and found its no...
13,1095,AVpfpK8KLJeJML43BCuD,1,Average quality of fabric poor stitching and p...

In [5]:
le = LabelEncoder()

In [6]:
original['UserID'] = le.fit_transform(original['UserID'])

original.head()

,ProductID,UserID,Rating,Text
0,777,0,4,Great taffy at a great price.
1,767,3,4,Absolutely wonderful - silky and sexy and comf...
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl..."
6,1080,7,2,I used this product only once and found its no...
13,1095,3,1,Average quality of fabric poor stitching and p...

### Finding Updated Score

Perform Sentiment analysis on reviews and find sentiment score.
<br>
Multiply sentiment with original Rating and find an updated score.
<br>
Make a function which returns New Rating based on conditions while taking input updated score

In [7]:
def calc_sentiment(text):
    try:
        return TextBlob(str(text)).sentiment.polarity
    except:
        None

In [8]:
original['Sentiment'] = original['Text'].apply(calc_sentiment)

original.head()

,ProductID,UserID,Rating,Text,Sentiment
0,777,0,4,Great taffy at a great price.,0.800000
1,767,3,4,Absolutely wonderful - silky and sexy and comf...,0.633333
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000
6,1080,7,2,I used this product only once and found its no...,-0.075000
13,1095,3,1,Average quality of fabric poor stitching and p...,-0.350000

In [9]:
original['Updated_score'] = original['Sentiment']*original['Rating']

original = original.round(decimals=1)

original.head()

,ProductID,UserID,Rating,Text,Sentiment,Updated_score
0,777,0,4,Great taffy at a great price.,0.8,3.2
1,767,3,4,Absolutely wonderful - silky and sexy and comf...,0.6,2.5
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl...",0.5,2.7
6,1080,7,2,I used this product only once and found its no...,-0.1,-0.2
13,1095,3,1,Average quality of fabric poor stitching and p...,-0.4,-0.4

In [10]:
unique_scores = original['Updated_score'].unique()
unique_scores.sort()

print(len(unique_scores))
print(unique_scores)

59
[-1.8 -1.7 -1.6 -1.5 -1.4 -1.  -0.9 -0.8 -0.7 -0.6 -0.5 -0.4 -0.3 -0.2
 -0.1  0.   0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.   1.1  1.2
  1.3  1.4  1.5  1.6  1.7  1.8  1.9  2.   2.1  2.2  2.3  2.4  2.5  2.6
  2.7  2.8  2.9  3.   3.1  3.2  3.3  3.5  3.7  3.8  3.9  4.   4.1  4.2
  4.6  4.7  5. ]

In [11]:
dict1 = {'1' : [-1.8, -1.7, -1.6, -1.5, -1.4, -1.,  -0.9, -0.8, -0.7, -0.6,-0.5, -0.4, -0.3,],
        '2' : [ -0.2, -0.1,0.,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1., 1.1,1.2,1.3,1.4,1.5 ], 
        '3' : [1.6, 1.7, 1.8, 1.9, 2., 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.],
        '4' : [3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9],
        '5' : [4., 4.1, 4.2, 4.6, 4.7, 5.]
        }

In [12]:
def update_rating(val):
    for j in dict1.keys():
        if val in dict1[j]:
            return j

In [13]:
original['New_rating'] = original['Updated_score'].apply(update_rating)

In [14]:
original.head()

,ProductID,UserID,Rating,Text,Sentiment,Updated_score,New_rating
0,777,0,4,Great taffy at a great price.,0.8,3.2,4
1,767,3,4,Absolutely wonderful - silky and sexy and comf...,0.6,2.5,3
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl...",0.5,2.7,3
6,1080,7,2,I used this product only once and found its no...,-0.1,-0.2,2
13,1095,3,1,Average quality of fabric poor stitching and p...,-0.4,-0.4,1

In [15]:
print("New ratings: \n",original['New_rating'].value_counts())

print("Old ratings: \n", original['Rating'].value_counts())

New ratings:
 2    177
3    111
1     33
4     32
5     32
Name: New_rating, dtype: int64
Old ratings:
 5    204
1     74
4     53
3     33
2     21
Name: Rating, dtype: int64

In [16]:
original['New_rating'] = pd.to_numeric(original['New_rating'])

### Pivoting + Recommendations

Now making the pivot table, on which we will perform cosine similarity and nearest neighbour algorithms in order to find out which products are similar to each other, for better recommendations

In [17]:
pivoted = original.pivot_table( index='ProductID',columns='UserID',values='New_rating').fillna(0)

pivoted.head()

UserID,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
ProductID,,,,,,,,,,,,,,,,,,,,,
89,0.0,0.0,0.0,2.0,0.0,0.0,5.0,2.0,2.0,0.0,...,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0
333,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,1.0,...,0.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
369,4.0,2.0,0.0,3.0,0.0,3.0,5.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0
444,2.0,2.0,0.0,0.0,2.0,0.0,3.0,5.0,2.0,0.0,...,2.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,4.0,0.0
684,0.0,0.0,3.0,5.0,2.0,0.0,2.0,2.0,2.0,0.0,...,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0

### Sparse Matrix

Matrices that contain mostly zero values are called sparse, distinct from matrices where most of the values are non-zero, called dense.

In [18]:
from scipy.sparse import csr_matrix

sparse = csr_matrix(pivoted)

In [19]:
print(sparse)

  (0, 3)	2.0
  (0, 6)	5.0
  (0, 7)	2.0
  (0, 8)	2.0
  (0, 11)	3.0
  (0, 16)	5.0
  (0, 18)	5.0
  (0, 20)	2.0
  (0, 22)	4.0
  (0, 28)	3.0
  (0, 33)	3.0
  (0, 37)	3.0
  (0, 41)	3.0
  (1, 1)	3.0
  (1, 5)	3.0
  (1, 8)	5.0
  (1, 9)	1.0
  (1, 10)	2.0
  (1, 13)	2.0
  (1, 17)	2.0
  (1, 22)	4.0
  (1, 25)	2.0
  (1, 29)	3.0
  (1, 33)	1.0
  (1, 34)	2.0
  :	:
  (25, 17)	5.0
  (25, 21)	2.0
  (25, 22)	2.0
  (25, 25)	2.0
  (25, 30)	3.0
  (25, 38)	4.0
  (25, 40)	1.0
  (26, 0)	2.0
  (26, 1)	2.0
  (26, 3)	2.0
  (26, 6)	2.0
  (26, 7)	2.0
  (26, 8)	2.0
  (26, 9)	2.0
  (26, 11)	3.0
  (26, 16)	3.0
  (26, 17)	2.0
  (26, 18)	1.0
  (26, 19)	1.0
  (26, 22)	2.0
  (26, 23)	2.0
  (26, 25)	4.0
  (26, 28)	2.0
  (26, 33)	2.0
  (26, 37)	2.0

In [20]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric='cosine',n_neighbors=20, radius = 1)
model_knn.fit(sparse)

NearestNeighbors(metric='cosine', n_neighbors=20, radius=1)

#### Pairwise cosine similarity
Compute cosine similarity between samples in X and Y.

Cosine similarity, or the cosine kernel, computes similarity as the normalized dot product of X and Y:

K(X, Y) = <X, Y> / (||X||*||Y||)

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(pivoted)
similarity_matrix

array([[1.        , 0.27208681, 0.33120207, 0.4117735 , 0.58744485,
        0.42632907, 0.27243118, 0.39191855, 0.74695614, 0.35975608,
        0.22213083, 0.30779351, 0.52893072, 0.45394737, 0.29397865,
        0.10838875, 0.36148514, 0.06083303, 0.24590296, 0.11092108,
        0.4580397 , 0.35602582, 0.13114825, 0.        , 0.51357179,
        0.20232566, 0.66577517],
       [0.27208681, 1.        , 0.32322116, 0.27031424, 0.17656302,
        0.47628204, 0.1667811 , 0.03706247, 0.20751059, 0.32065738,
        0.11483385, 0.22099785, 0.37886076, 0.43363835, 0.33524262,
        0.22413273, 0.19466161, 0.11793204, 0.36865731, 0.        ,
        0.26116595, 0.20299949, 0.16949761, 0.        , 0.36348024,
        0.34553795, 0.46933966],
       [0.33120207, 0.32322116, 1.        , 0.4700634 , 0.23860971,
        0.32665263, 0.508233  , 0.3928371 , 0.37295395, 0.3441236 ,
        0.12171612, 0.23717082, 0.36664796, 0.19601755, 0.20431735,
        0.37862009, 0.15474612, 0.40625   , 0.28295823, 0.02849014,
        0.35986375, 0.16675345, 0.49854545, 0.        , 0.08794081,
        0.28953301, 0.39086798],
       [0.4117735 , 0.27031424, 0.4700634 , 1.        , 0.53611403,
        0.47380354, 0.37749441, 0.3893653 , 0.35370641, 0.40054834,
        0.43401129, 0.42470599, 0.6014586 , 0.50327872, 0.56694671,
        0.43073049, 0.29927514, 0.14101902, 0.48860194, 0.        ,
        0.61566358, 0.43172988, 0.39739625, 0.        , 0.14577886,
        0.27279598, 0.45527539],
       [0.58744485, 0.17656302, 0.23860971, 0.53611403, 1.        ,
        0.51016902, 0.28285838, 0.23819653, 0.36965257, 0.29624445,
        0.4228268 , 0.39946773, 0.61534105, 0.44399901, 0.44886848,
        0.36011931, 0.43787432, 0.15790349, 0.40850369, 0.08637491,
        0.41962146, 0.27180336, 0.11574271, 0.08421519, 0.12695918,
        0.07502486, 0.39500426],
       [0.42632907, 0.47628204, 0.32665263, 0.47380354, 0.51016902,
        1.        , 0.40158725, 0.2414773 , 0.56738724, 0.57226338,
        0.51234754, 0.30049929, 0.53894934, 0.52026598, 0.60778974,
        0.42857143, 0.46320556, 0.06681531, 0.42133242, 0.16243864,
        0.41430364, 0.43129097, 0.20166338, 0.23756555, 0.28203804,
        0.21428571, 0.37986859],
       [0.27243118, 0.1667811 , 0.508233  , 0.37749441, 0.28285838,
        0.40158725, 1.        , 0.52083333, 0.44122095, 0.64888568,
        0.49219163, 0.3913119 , 0.375     , 0.30110815, 0.2544002 ,
        0.18898224, 0.13130643, 0.59662135, 0.18221725, 0.36262033,
        0.64594224, 0.50207901, 0.56451618, 0.29462783, 0.10660036,
        0.26772484, 0.30151134],
       [0.39191855, 0.03706247, 0.3928371 , 0.3893653 , 0.23819653,
        0.2414773 , 0.52083333, 1.        , 0.32457633, 0.27938134,
        0.21516574, 0.3478328 , 0.32407407, 0.09558989, 0.22613351,
        0.31497039, 0.08753762, 0.29462783, 0.14291549, 0.05372153,
        0.40126715, 0.36514837, 0.36205257, 0.        , 0.15990054,
        0.29397237, 0.42714107],
       [0.74695614, 0.20751059, 0.37295395, 0.35370641, 0.36965257,
        0.56738724, 0.44122095, 0.32457633, 1.        , 0.50678737,
        0.35355339, 0.22680461, 0.52067453, 0.4397966 , 0.32111443,
        0.11501093, 0.36758853, 0.09682458, 0.09393364, 0.21577962,
        0.4645821 , 0.4       , 0.18786729, 0.12909944, 0.50602431,
        0.09200874, 0.54130718],
       [0.35975608, 0.32065738, 0.3441236 , 0.40054834, 0.29624445,
        0.57226338, 0.64888568, 0.27938134, 0.50678737, 1.        ,
        0.60733817, 0.43528575, 0.42658226, 0.38456685, 0.38314086,
        0.10218989, 0.35501194, 0.35368259, 0.2967546 , 0.54031655,
        0.70492177, 0.57754016, 0.42040236, 0.45883147, 0.10375717,
        0.21119244, 0.29346959],
       [0.22213083, 0.11483385, 0.12171612, 0.43401129, 0.4228268 ,
        0.51234754, 0.49219163, 0.21516574, 0.35355339, 0.60733817,
        1.        , 0.4330127 , 0.37295395, 0.4368573 , 0.44763689,
        0.21957752, 0.44074128, 0.1711633 , 0.14391242, 0.55136588,
        0.58373549, 0.61871843, 0.19926335, 0.5933661 , 0.05504819,
        0.15451751, 0.14596855],
       [0.30779351, 0.22099785, 0.23717082, 0.42470599, 0.39946773,
        0.30049929, 0.3913119 , 0.3478328 , 0.22680461, 0.43528575,
        0.4330127 , 1.        , 0.43065013, 0.31634333, 0.16854997,
        0.14085904, 0.2740361 , 0.30305161, 0.29400325, 0.30031249,
        0.66528593, 0.58515588, 0.50278816, 0.21081851, 0.2224746 ,
        0.15964025, 0.43822991],
       [0.52893072, 0.37886076, 0.36664796, 0.6014586 , 0.61534105,
        0.53894934, 0.375     , 0.32407407, 0.52067453, 0.42658226,
        0.37295395, 0.43065013, 1.        , 0.80932773, 0.611398  ,
        0.50395263, 0.53981534, 0.27498597, 0.60024505, 0.19697895,
        0.5480722 , 0.52743654, 0.22231298, 0.11785113, 0.31980107,
        0.2169796 , 0.57789674],
       [0.45394737, 0.43363835, 0.19601755, 0.50327872, 0.44399901,
        0.52026598, 0.30110815, 0.09558989, 0.4397966 , 0.38456685,
        0.4368573 , 0.31634333, 0.80932773, 1.        , 0.59660373,
        0.34684399, 0.54222771, 0.06083303, 0.49180592, 0.16638162,
        0.44456794, 0.53927441, 0.11803342, 0.08111071, 0.46466019,
        0.37574765, 0.52743228],
       [0.29397865, 0.33524262, 0.20431735, 0.56694671, 0.44886848,
        0.60778974, 0.2544002 , 0.22613351, 0.32111443, 0.38314086,
        0.44763689, 0.16854997, 0.611398  , 0.59660373, 1.        ,
        0.56980288, 0.5740605 , 0.15990054, 0.53001488, 0.23081653,
        0.40722318, 0.49543369, 0.07756315, 0.23096744, 0.1928473 ,
        0.46533902, 0.35227273],
       [0.10838875, 0.22413273, 0.37862009, 0.43073049, 0.36011931,
        0.42857143, 0.18898224, 0.31497039, 0.11501093, 0.10218989,
        0.21957752, 0.14085904, 0.50395263, 0.34684399, 0.56980288,
        1.        , 0.297775  , 0.40089186, 0.51856298, 0.        ,
        0.26633806, 0.18976803, 0.06482037, 0.08908708, 0.        ,
        0.21428571, 0.31339159],
       [0.36148514, 0.19466161, 0.15474612, 0.29927514, 0.43787432,
        0.46320556, 0.13130643, 0.08753762, 0.36758853, 0.35501194,
        0.44074128, 0.2740361 , 0.53981534, 0.54222771, 0.5740605 ,
        0.297775  , 1.        , 0.        , 0.31526414, 0.40207701,
        0.33926549, 0.37158406, 0.        , 0.27854301, 0.1119785 ,
        0.13234444, 0.31672303],
       [0.06083303, 0.11793204, 0.40625   , 0.14101902, 0.15790349,
        0.06681531, 0.59662135, 0.29462783, 0.09682458, 0.35368259,
        0.1711633 , 0.30305161, 0.27498597, 0.06083303, 0.15990054,
        0.40089186, 0.        , 1.        , 0.28801105, 0.38461695,
        0.43598877, 0.26626761, 0.32338083, 0.3125    , 0.        ,
        0.13363062, 0.29315098],
       [0.24590296, 0.36865731, 0.28295823, 0.48860194, 0.40850369,
        0.42133242, 0.18221725, 0.14291549, 0.09393364, 0.2967546 ,
        0.14391242, 0.29400325, 0.60024505, 0.49180592, 0.53001488,
        0.51856298, 0.31526414, 0.28801105, 1.        , 0.0829185 ,
        0.44311272, 0.39921799, 0.23529412, 0.08084521, 0.10969086,
        0.29169168, 0.37488858],
       [0.11092108, 0.        , 0.02849014, 0.        , 0.08637491,
        0.16243864, 0.36262033, 0.05372153, 0.21577962, 0.54031655,
        0.55136588, 0.30031249, 0.19697895, 0.16638162, 0.23081653,
        0.        , 0.40207701, 0.38461695, 0.0829185 , 1.        ,
        0.529979  , 0.58113376, 0.21190283, 0.85470432, 0.06872081,
        0.08121932, 0.14577886],
       [0.4580397 , 0.26116595, 0.35986375, 0.61566358, 0.41962146,
        0.41430364, 0.64594224, 0.40126715, 0.4645821 , 0.70492177,
        0.58373549, 0.66528593, 0.5480722 , 0.44456794, 0.40722318,
        0.26633806, 0.33926549, 0.43598877, 0.44311272, 0.529979  ,
        1.        , 0.75047877, 0.56396165, 0.40138649, 0.23787197,
        0.33292257, 0.50460264],
       [0.35602582, 0.20299949, 0.16675345, 0.43172988, 0.27180336,
        0.43129097, 0.50207901, 0.36514837, 0.4       , 0.57754016,
        0.61871843, 0.58515588, 0.52743654, 0.53927441, 0.49543369,
        0.18976803, 0.37158406, 0.26626761, 0.39921799, 0.58113376,
        0.75047877, 1.        , 0.438357  , 0.45184806, 0.33086205,
        0.41403934, 0.47479062],
       [0.13114825, 0.16949761, 0.49854545, 0.39739625, 0.11574271,
        0.20166338, 0.56451618, 0.36205257, 0.18786729, 0.42040236,
        0.19926335, 0.50278816, 0.22231298, 0.11803342, 0.07756315,
        0.06482037, 0.        , 0.32338083, 0.23529412, 0.21190283,
        0.56396165, 0.438357  , 1.        , 0.14821622, 0.10969086,
        0.45374261, 0.34472513],
       [0.        , 0.        , 0.        , 0.        , 0.08421519,
        0.23756555, 0.29462783, 0.        , 0.12909944, 0.45883147,
        0.5933661 , 0.21081851, 0.11785113, 0.08111071, 0.23096744,
        0.08908708, 0.27854301, 0.3125    , 0.08084521, 0.85470432,
        0.40138649, 0.45184806, 0.14821622, 1.        , 0.        ,
        0.        , 0.        ],
       [0.51357179, 0.36348024, 0.08794081, 0.14577886, 0.12695918,
        0.28203804, 0.10660036, 0.15990054, 0.50602431, 0.10375717,
        0.05504819, 0.2224746 , 0.31980107, 0.46466019, 0.1928473 ,
        0.        , 0.1119785 , 0.        , 0.10969086, 0.06872081,
        0.23787197, 0.33086205, 0.10969086, 0.        , 1.        ,
        0.44320263, 0.64282435],
       [0.20232566, 0.34553795, 0.28953301, 0.27279598, 0.07502486,
        0.21428571, 0.26772484, 0.29397237, 0.09200874, 0.21119244,
        0.15451751, 0.15964025, 0.2169796 , 0.37574765, 0.46533902,
        0.21428571, 0.13234444, 0.13363062, 0.29169168, 0.08121932,
        0.33292257, 0.41403934, 0.45374261, 0.        , 0.44320263,
        1.        , 0.41785545],
       [0.66577517, 0.46933966, 0.39086798, 0.45527539, 0.39500426,
        0.37986859, 0.30151134, 0.42714107, 0.54130718, 0.29346959,
        0.14596855, 0.43822991, 0.57789674, 0.52743228, 0.35227273,
        0.31339159, 0.31672303, 0.29315098, 0.37488858, 0.14577886,
        0.50460264, 0.47479062, 0.34472513, 0.        , 0.64282435,
        0.41785545, 1.        ]])

In [22]:
product_id = int(input("Enter product ID to find ecommendations of: "))

pids = list(pivoted.index)

print(pids)

Enter product ID to find ecommendations of: 1077
[89, 333, 369, 444, 684, 697, 767, 777, 823, 847, 853, 858, 862, 910, 949, 1002, 1003, 1049, 1060, 1065, 1077, 1080, 1095, 1120, 6969, 8001, 9696]

In [23]:
q_index = pids.index(product_id)    #to find index number associated with the product id 

print(q_index)

20

#### NearestNeighbors.kneighbors
Finds the K-neighbors of a point.
<br>
Returns indices of and distances to the neighbors of each point.

In [24]:
similarities, indices = model_knn.kneighbors(pivoted.iloc[q_index,:].values.reshape(1,-1), n_neighbors=8)

print(similarities)   #shows similarity distance through productID by USER
print(indices)        #shows indices of productID by USER

[[0.         0.24952123 0.29507823 0.33471407 0.35405776 0.38433642
  0.41626451 0.43603835]]
[[20 21  9 11  6  3 10 22]]

In [31]:
pivoted.iloc[21]

UserID
0     0.0
1     2.0
2     0.0
3     0.0
4     2.0
5     0.0
6     2.0
7     2.0
8     0.0
9     2.0
10    0.0
11    5.0
12    2.0
13    4.0
14    0.0
15    2.0
16    3.0
17    5.0
18    2.0
19    3.0
20    1.0
21    0.0
22    0.0
23    3.0
24    5.0
25    0.0
26    5.0
27    3.0
28    0.0
29    0.0
30    1.0
31    3.0
32    0.0
33    4.0
34    0.0
35    0.0
36    2.0
37    0.0
38    0.0
39    5.0
40    0.0
41    0.0
Name: 1080, dtype: float64